In [16]:
import pandas as pd

# read CSV, arguments: filename, na_values, usecols = to select
# which columns in the file will be used
berk = pd.read_csv('/Users/lara/repos/udacity_datascience_intro/Berkeley.csv',
                 na_values = ':')




berk

       Admit  Gender Dept  Freq
0   Admitted    Male    A   512
1   Rejected    Male    A   313
2   Admitted  Female    A    89
3   Rejected  Female    A    19
4   Admitted    Male    B   353
5   Rejected    Male    B   207
6   Admitted  Female    B    17
7   Rejected  Female    B     8
8   Admitted    Male    C   120
9   Rejected    Male    C   205
10  Admitted  Female    C   202
11  Rejected  Female    C   391
12  Admitted    Male    D   138
13  Rejected    Male    D   279
14  Admitted  Female    D   131
15  Rejected  Female    D   244
16  Admitted    Male    E    53
17  Rejected    Male    E   138
18  Admitted  Female    E    94
19  Rejected  Female    E   299
20  Admitted    Male    F    22
21  Rejected    Male    F   351
22  Admitted  Female    F    24
23  Rejected  Female    F   317

In [ ]:
berk.count()

In [12]:
berk[(berk.Admit == 'Admitted') & (berk.Gender == 'Female')].count()

Admit     6
Gender    6
Dept      6
Freq      6
dtype: int64

In [13]:
berk[(berk.Admit == 'Admitted') & (berk.Gender == 'Male')].count()

Admit     6
Gender    6
Dept      6
Freq      6
dtype: int64

In [7]:
male = berk[berk['Gender'] == 'Male']
male.count()

Admit     12
Gender    12
Dept      12
Freq      12
dtype: int64

In [4]:
female = berk[berk['Gender'] == 'Female']
female

       Admit  Gender Dept  Freq
2   Admitted  Female    A    89
3   Rejected  Female    A    19
6   Admitted  Female    B    17
7   Rejected  Female    B     8
10  Admitted  Female    C   202
11  Rejected  Female    C   391
14  Admitted  Female    D   131
15  Rejected  Female    D   244
18  Admitted  Female    E    94
19  Rejected  Female    E   299
22  Admitted  Female    F    24
23  Rejected  Female    F   317

In [14]:
berk[(berk.Admit == 'Admitted') & (berk.Gender == 'Female')&(berk.Dept == 'A')].count()

Admit     1
Gender    1
Dept      1
Freq      1
dtype: int64

In [17]:
berk[(berk.Admit == 'Admitted') & (berk.Gender == 'Female')&(berk.Dept == 'D')].count()

Admit     1
Gender    1
Dept      1
Freq      1
dtype: int64